/**********TAG SELECTORS****************/
h1 {
  font-family: 'Dawning of a New Day', cursive;
  margin: 50px auto 0 auto;
  font-size: 7rem;
  color: #655c56;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #655c56;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #018383;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #018383;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  color: #EAF6F6;
}

hr {
  color: #ff8ba7;
  border-width: 7px;
  border-style: none;
  border-top-style: dotted;
  width: 7%;
  margin: 70px auto;
}

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  font-size: 100%;
}
/**********CLASS SELECTORS****************/
.top-container {
  background-color: #c3f0ca;
  padding-top: 100px;
  position: relative;
}
.middle-container {
  padding: 50px 0;
  background-color: #faeee7;
}
.bottom-container {
  padding: 40px 0;
  background-color: #ff8ba7;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;
  line-height: 2;
}

.copyright-text {
  color: #EAF6F6;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.BUTTON_IGE {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #EAF6F6;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #FF8BA7;
   -webkit-box-shadow: 1px 1px 20px 0 #AD366E;
   -moz-box-shadow: 1px 1px 20px 0 #AD366E;
   box-shadow: 1px 1px 20px 0 #AD366E;
   text-shadow: 1px 1px 20px #701B43;
   border: solid #D16F9D 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 20px;
}

.BUTTON_IGE:hover {
   background: #E76E8B;
   border: solid #D16F9D 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.profile-picture {
  border-radius: 50%;
}

.computer-picture {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.piano-picture {
  float: right;
  margin-left: 30px;
}

.switch-picture {
  border-radius: 80%;
  float: left;
  margin-right: 30px;
  width: 30%;
}

.skill-picture {
  width: 25%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
